# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Project specific ignores
.antigravitycli\brain\785fdaaa-af5a-4c70-a094-bb5d3462cf49/
UIUNest report/
*Context.md
