# OS files
.DS_Store
Thumbs.db

# Vercel
.vercel/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Project specific ignores
.antigravitycli/
*Context.md

# Uploaded Files
uploads/

# Environment Variables & Secrets
.env
.env.*
config.local.php

# Dependencies
vendor/
node_modules/